.chat {
    flex:2;
    border-left: 1px solid #64001e;
    border-right: 1px solid #64001e;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #64001e;
}

.chat .top .user {
    display: flex;
    align-items: center;
    gap: 20px;

}

.chat .top .user img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.texts span {
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
}

.texts p {
    font-size: 14px;
    font-weight: 300;
    color: grey;
}

.icons {
    display: flex;
    gap: 20px;

}

.icons img {
    width: 20px;
    height: 20px;
}

.bottom {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #64001e;
    gap: 20px;
    margin-top: auto;
}

.bottom .icon {
    display: flex;
    gap: 20px;
}

.bottom .icon img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.bottom img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    cursor: pointer;
    align-content: center;
    display: flex;
}

.bottom input {
    flex:1;
    outline: none;
    border: none;
    color: white;
    background-color: #00000098;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    /* margin: 15px; */
}

.emoji {
    position: relative;
}

.emoji .picker {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.center {
    padding: 20px;
    flex: 1;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    gap: 20px;
}

.center .message {
    max-width: 70%;
    display: flex;
    gap: 20px;
}

.center .message.own{
    align-self: flex-end;
}

.center .message.own .texts p{
    background-color: #ff1158;
    color: white;
}
.center .message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.center .message .texts {
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.center .messages .texts :hover {
    transform: scale(1.2);
    transition: 3ms;
}

.center .message .texts p{
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.center .message .texts span{
    font-size: 12px;
    font-weight: 300;
}

.center .message.own .texts span{
    font-size: 12px;
    font-weight: 300;
    align-self: flex-end;
}

.bottom button {

    background-color: #ff1158;
    color: white;
    width: 80px;
    height: 35px;
    outline: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    align-items: center;
    align-self: center;
    align-content: center;
}
